.ashtray {
  all: unset;
  cursor: pointer;
  position: absolute;
  z-index: 2;
  height: 35%;
  width: auto;
  top: 30%;
  right: 15%;
  z-index: -1;
  transition: right 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.ashtray.open {
  right: 2%;
  transition-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.ashtray img {
  height: 100%;
  width: auto;
  filter: drop-shadow(0px 0px 4px black);
  user-select: none !important;
}

@media screen and (max-width: 500px) {
  .ashtray.open {
    right: 5%;
  }
}
