.ducky {
  position: fixed;
  bottom: 10%;
  left: 25%;
  z-index: 1;
  cursor: pointer;
}

.speech {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 1.2rem;
  line-height: 1.2rem;
  min-width: 100px;
  max-width: 200px;
  min-height: 64px;
  padding: 1.4rem;
  border-radius: 4px;
  font-family: var(--ducky-font);
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  opacity: 0;
  transition: all 0.2s ease;
  text-align: center;
}

.speech.show {
  opacity: 1;
}

.speech span {
  transform: translateY(-6px);
}

.speech .bubble {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transform: scaleX(-1);
  min-width: 100px;
  min-height: 64px;
  z-index: -1;
}

.ducky img {
  filter: drop-shadow(0px 0px 4px black);
}

@media screen and (max-width: 1100px) {
  .ducky {
    bottom: -2%;
    left: -5%;
  }

  .ducky img {
    width: 180px;
    height: 180px;
  }
}
