.gun {
  position: fixed;
  bottom: -10%;
  right: 0;
  width: 20vw;
  height: auto;
  z-index: 10;
  opacity: 0;
}

.gun.show {
  opacity: 1;
}

.duck {
  position: fixed;
  top: 0;
  left: 0;
  cursor: crosshair;
  z-index: 3;
  user-select: none;
  touch-action: manipulation !important;
}

.duck img {
  user-select: none;
  pointer-events: none;
  filter: drop-shadow(2px 2px 2px black);
}

.deadDuck {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.blood {
  position: absolute;
  top: 25%;
  left: 25%;
  opacity: 0;
}

@media screen and (max-width: 900px) {
  .gun {
    width: 50%;
    right: 0;
    z-index: 4;
  }

  .duck img {
    width: 40vw;
    height: auto;
  }
}
