.ducky {
  position: fixed;
  bottom: 10%;
  left: 25%;
  z-index: 1;
  cursor: pointer;
}

.speech {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: wheat;
  border: 0.1rem solid black;
  text-shadow: 1px 1px 0px rgba(148, 116, 56, 0.75);
  font-size: 1.2rem;
  line-height: 1.2rem;
  min-width: 100px;
  max-width: 200px;
  padding: 1rem;
  border-radius: 4px;
  font-family: var(--ducky-font);
  z-index: 1;
}

.speech:before {
  content: "";
  display: block;
  position: absolute;
  left: 19px;
  top: 100%;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-bottom-color: black;
  transform: rotate(180deg);
}

.speech:after {
  content: "";
  display: block;
  position: absolute;
  left: 20px;
  top: 100%;
  width: 0;
  height: 0;
  border: 9px solid transparent;
  border-bottom-color: wheat;
  transform: rotate(180deg);
}

.ducky img {
  filter: drop-shadow(0px 0px 4px black);
}

@media screen and (max-width: 1100px) {
  .ducky {
    bottom: -2%;
    left: -5%;
  }

  .ducky img {
    width: 180px;
    height: 180px;
  }
}
