.ducky {
  position: fixed;
  bottom: 10%;
  left: 25%;
  z-index: 1;
}

.ducky img {
  filter: drop-shadow(0px 0px 4px black);
}

@media screen and (max-width: 1100px) {
  .ducky {
    bottom: 0;
    left: -5%;
  }

  .ducky img {
    width: 180px;
    height: 180px;
  }
}
