.footer {
  position: fixed;
  bottom: 0.4rem;
  left: 0;
  width: 100%;
  line-height: 1;
  font-size: 1rem;
  color: wheat;
  text-shadow: 0.1rem 0.1rem 0 black;
  text-align: center;
  pointer-events: none;
  font-family: var(--ui-font);
  z-index: 1;
}

@media screen and (max-width: 500px) {
  .footer {
    font-size: 0.8rem;
  }
}
