.freeze {
  position: fixed;
  width: 100%;
  height: 100%;
  background-image: url("https://w-img.b-cdn.net/duckboy/images/swamp-winter-md.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
  pointer-events: none;
  user-select: none;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.freeze.show {
  opacity: 1;
}

@media screen and (min-width: 1900px) {
  .freeze {
    background-image: url("https://w-img.b-cdn.net/duckboy/images/swamp-winter-lg.png");
  }
}

@media screen and (max-width: 900px) {
  .freeze {
    background-image: url("https://w-img.b-cdn.net/duckboy/images/swamp-winter-mobile.png");
  }
}

.ice {
  all: unset;
  cursor: pointer;
  position: absolute;
  top: 20%;
  left: 5%;
  width: calc(744 / 1231 * 100%);
  height: calc(896 / 1288 * 100%);
  display: flex;
  flex-direction: column;
  z-index: 50;
  mix-blend-mode: screen;
}

.iceTwo {
  all: unset;
  cursor: pointer;
  position: absolute;
  top: 12%;
  right: 15%;

  width: calc(474 / 1231 * 100%);
  height: calc(828 / 1288 * 100%);
  display: flex;
  flex-direction: column;
  z-index: 50;
  mix-blend-mode: screen;
}

.ice img,
.iceTwo img {
  width: 100%;
  height: 100%;
}

.ice.shake,
.iceTwo.shake {
  animation: shake 0.2s ease-in-out;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
}
