.playerAudio {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  border-radius: 4px;
  padding: 0;
  opacity: 0;
  font-family: var(--pixel-font);
  background-color: #ffdd33;

  outline: 1.1rem solid #222222d5;
  outline-offset: -1.1rem;
}

@media screen and (max-height: 950px) {
  .playerAudio {
    outline: 0.2rem solid #222222d5;
    outline-offset: -0.2rem;
  }
}

@media screen and (max-width: 800px) {
  .playerAudio {
    outline: 0.2rem solid #222222d5;
    outline-offset: -0.2rem;
  }
}

.playerAudio:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #000000;
  background-image: url("/patterns/concrete-wall-2.png");
  pointer-events: none;
  z-index: 2;
  mix-blend-mode: overlay;
  border-radius: 4px;
  opacity: 0.75;
}

.playerAudio:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #0e0e0e;
  background-image: url("/patterns/ice-age.png");
  pointer-events: none;
  z-index: 2;
  mix-blend-mode: overlay;
  border-radius: 4px;
  opacity: 0.1;
}

.playerAudio.show {
  opacity: 1;
}

.playerAudio .bumperBackground {
  position: absolute;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  mix-blend-mode: overlay;
  border-radius: 4px;
  opacity: 0.5;
  pointer-events: none;
  user-select: none;
}

.playerAudio .bumper {
  display: flex;
  width: 80%;
  height: calc(610 / 1288 * 120%);
  border-radius: 4px;
  margin: auto;
  margin-bottom: 0.4rem;
  z-index: 2;
}

@media screen and (max-height: 950px) {
  .playerAudio .bumper {
    height: calc(610 / 1288 * 100%);
    margin-bottom: 0.2rem;
  }
}

@media screen and (max-width: 800px) {
  .playerAudio .bumper {
    height: calc(610 / 1288 * 95%);
    margin-bottom: 0.2rem;
  }
}

.playerAudio .bumper video {
  height: auto;
  width: 100%;
  object-fit: cover;
  border-radius: 4px;
  outline: 0.2rem solid #fb784050;
}

.playerAudio .artist {
  font-size: 1.8rem;
  text-shadow: 0.1rem 0.05rem 0 #fb7840cc;
  text-align: center;
  opacity: 0.75;
}

@media screen and (max-height: 950px) {
  .playerAudio .artist {
    font-size: 1rem;
  }
}

@media screen and (max-width: 800px) {
  .playerAudio .artist {
    font-size: 1rem;
  }
}

.playerAudio .name {
  display: flex;
  align-items: center;
  font-size: 2rem;
  text-shadow: 0.1rem 0.05rem 0 #fb7840cc;
  outline: 0.2rem solid #fb784050;
  border-radius: 2px;
  background-color: #fb784033;
  width: 80%;
  margin: 0.4rem auto;

  marquee {
    width: 100%;
    opacity: 0.85;
  }
}

@media screen and (max-height: 950px) {
  .playerAudio .name {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 800px) {
  .playerAudio .name {
    font-size: 1.4rem;
  }
}

.playerAudio .seek {
  position: relative;
  width: 80%;
  margin: auto;
  height: 1rem;
  margin: 0.4rem auto;

  pointer-events: none;
  user-select: none;
  flex-shrink: 0;
}

@media screen and (max-width: 800px) {
  .playerAudio .seek {
    margin-bottom: 0;
  }
}

.playerAudio .seek .bar {
  position: absolute;
  top: 25%;
  left: 0;
  width: 100%;
  height: 50%;
  mix-blend-mode: multiply;
  pointer-events: none;
  user-select: none;
}

.playerAudio .seek .knob {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: auto;
  pointer-events: none;
  user-select: none;
}

.playerAudio .duration {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  opacity: 0.75;
  text-shadow: 0.1rem 0.05rem 0 #fb7840cc;
  margin-bottom: auto;
}

.playerAudio .duration div {
  text-align: center;
  width: 32px;
}

@media screen and (max-width: 800px) {
  .playerAudio .duration {
    font-size: 0.8rem;
  }
}

.playerAudio .borderTop {
  position: absolute;
  width: 100%;
  height: auto;
  object-fit: fill;
  top: -2px;
  left: 0;
  pointer-events: none;
  user-select: none;
  z-index: 1;
}

.playerAudio .borderBottom {
  position: absolute;
  width: 100%;
  height: auto;
  object-fit: fill;
  bottom: 0;
  left: 0;
  pointer-events: none;
  user-select: none;
  z-index: 1;
}

.playerAudio .borderLeft {
  position: absolute;
  width: auto;
  height: 100%;
  object-fit: fill;
  top: 0;
  left: 0;
  transform: scaleX(-1) scaleX(0.7);
  pointer-events: none;
  user-select: none;
  z-index: 0;
}

.playerAudio .borderRight {
  position: absolute;
  width: auto;
  height: 100%;
  object-fit: fill;
  top: 0;
  right: -1px;
  pointer-events: none;
  user-select: none;
  z-index: 0;
  transform: scaleX(0.7);
}
