.playerContent {
  --player-padding: 2rem;

  position: absolute;

  width: calc(490 / 1231 * 100%);
  height: calc(610 / 1288 * 100%);

  top: 28.5%;
  left: 30%;

  border-radius: 4px;
  background-color: black;
  outline: 0.2rem ridge rgba(128, 128, 128, 0.25);
}

.playerContent .static {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
  opacity: 0.05;
  pointer-events: none;
  z-index: 2;
  user-select: none;
}

.playerContent .static.on {
  opacity: 1;
  mix-blend-mode: normal;
}

.playerContent .video {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.playerContent .video.show {
  opacity: 1;
}

@media screen and (max-width: 500px) {
  .playerContent {
    --player-padding: 1rem;
  }
}

@media screen and (max-width: 375px) {
  .playerContent {
    --player-padding: 0.75rem;
  }
}

.playerContent .inner {
  position: relative;
  background-color: #0e0e0e;
  background-image: url("/patterns/ice-age.png");
  background-blend-mode: overlay;

  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.playerContent .inner video {
  width: calc(100% - 2rem);
  height: 100%;
  z-index: 1;
  object-fit: fill;
  border-radius: 4px;
  padding: 0 1rem;
}

.playerContent .inner:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #000000;
  background-image: url("/patterns/dust.png");
  pointer-events: none;
  z-index: 0;
  mix-blend-mode: overlay;
  border-radius: 4px;
  opacity: 0.25;
}

.playerContent video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
  pointer-events: none;
  user-select: none;
}
