.volumeSlider {
  all: unset;
  cursor: pointer;
  position: absolute;
  z-index: 2;
  width: 4%;
  left: 21.65%;
}

.volumeSlider img {
  width: 100%;
  height: auto;
  filter: drop-shadow(0px 2px 4px black);
  will-change: filter;
}

.volumeSlider.grabbing {
  cursor: grabbing;
}
